{% include 'adminheader.html'%}

 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 200px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

     

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
            	</div></div></div></div></div></section>
 <center>


					<h1>View Students</h1>
					<table class="table" style="width: 800px">
						<tr>
							<th>Slno</th>
							<th>teacher</th>
							<th>first name</th>
						
							<th>place</th>
							<th>phone</th>
							<th>email</th>
						
						</tr>

						{% for row in data['stud']%}
					
							<tr>
							<td>{{loop.index}}</td>
							<td>{{row['fname'] }}</td>

							<td>{{row['sname'] }}</td>
						
							<td>{{row['splace'] }}</td>
							
							<td>{{row['sphone'] }}</td>
							<td>{{row['semail']}}</td>
							
							
							<td><a class="btn btn-success" href="?action=delete&lid={{row['login_id']}}">Delete</a></td>
							</tr>
						{% endfor %}
						

					</table>				


</form>
</center>
{% include 'footer.html'%}