{% include 'headheader.html'%}
 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 900px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel"  >

      

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg);" >
          <div class="carousel-container" >
            <div class="container" >
            	
<center>
<h1 style="color: white">ADD Students</h1>

<form method="post">


	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>first name</th>
			<td><input type="text" name="fname" required=""  pattern="[A-Z a-z ]+$"  class="form-control" placeholder="enter frist name" ></td>
		</tr>
		<tr>
			<th>last name</th>
			<td><input type="text" name="lname" required="" pattern="[A-Z a-z ]+$"  class="form-control" placeholder="enter last name" ></td>
		</tr>
		<tr>
			<th>place</th>
			<td><input type="text" name="place" required=""  pattern="[A-Z a-z ]+$" class="form-control" placeholder="enater place" ></td>
		</tr>
		
		<tr>
			<th>phone</th>
			<td><input type="text" name="ph" required="" pattern="[0-9]{10}" class="form-control" placeholder="enter phone" ></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="mail"  class="form-control" placeholder="enter email" ></td>
		</tr>
		
		
		
		<tr>
			<td align="center" colspan="2"><input type="submit" name="staff" class="btn btn-success"></td>
				
		</tr>
	</table>

	</center>
        </div>
          </div>
        </div>
    </div></div></section>

	 <center>


					<h1>view Students</h1>
					<table class="table" style="width: 800px">
						<tr>
							<th>Slno</th>
							<th>first name</th>
							<th>last name</th>
							<th>place</th>
							<th>phone</th>
							<th>email</th>
							
						</tr>

						{% for row in data['staff']%}
					
							<tr>
							<td>{{loop.index}}</td>
							<td>{{row['first_name'] }}</td>
							<td>{{row['last_name'] }}</td>
							<td>{{row['place'] }}</td>
							
							<td>{{row['phone'] }}</td>
							<td>{{row['email']}}</td>
							
							</tr>
						{% endfor %}
						

					</table>				

</form>
</center>
	{% include 'footer.html'%}