{% include 'headheader.html'%}
<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

   

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Ncc Cadet</span></h2>
              <p class="animate__animated animate__fadeInUp">Beat every obstacle in your way. Never ever leave your buddy behind. When you lead a contingent, it reflects all your hard work on each & every cadet in the contingent.... No one can beat you when you stand United!</p>
            
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Ncc Cadet</h2>
              <p class="animate__animated animate__fadeInUp">Beat every obstacle in your way. Never ever leave your buddy behind. When you lead a contingent, it reflects all your hard work on each & every cadet in the contingent.... No one can beat you when you stand United!</p>
             
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Ncc Cadet</h2>
              <p class="animate__animated animate__fadeInUp">Beat every obstacle in your way. Never ever leave your buddy behind. When you lead a contingent, it reflects all your hard work on each & every cadet in the contingent.... No one can beat you when you stand United!</p>
            
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
{% include 'footer.html'%}