{% include 'staffheader.html'%}


 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
<center>
	<h1 style="color: white">Update Student Details</h1>
	<form method="post">
		{% if data['supdate']%}
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>First name</th>
			<td><input type="text" class="form-control" pattern="[A-Z a-z ]+$" value="{{data['supdate'][0]['first_name']}}"  name="sname"></td>
		</tr>
		<tr>
			<th>last name</th>
			<td><input type="text" class="form-control"  pattern="[A-Z a-z ]+$" value="{{data['supdate'][0]['last_name']}}" name="lname"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" class="form-control" pattern="[A-Z a-z ]+$"  value="{{data['supdate'][0]['place']}}" name="place"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" class="form-control" pattern="[A-Z a-z ]+$"  pattern="[0-9]{10}" value="{{data['supdate'][0]['phone']}}" name="phone"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" class="form-control" pattern="[A-Z a-z ]+$"  value="{{data['supdate'][0]['email']}}" name="email"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
		</tr>
	</table>
	{% endif %}
	</form>
</center>

</div></div></div></div></div></section>

<center>

				<table class="table" style="width: 800px">
						<tr>
							<th>Slno</th>
							
							<th>first name</th>
							<th>last name</th>
							<th>place</th>
							<th>phone</th>
							<th>email</th>
					
						</tr>

						{% for row in data['student']%}
					
						<tr>
							<td>{{loop.index}}</td>
					

							<td>{{row['first_name'] }}</td>
							<td>{{row['last_name']}}</td>
							<td>{{row['place'] }}</td>
							
							<td>{{row['phone'] }}</td>
							<td>{{row['email']}}</td>
							
							<td><a class="btn btn-success" href="?action=update&sid={{row['student_id']}}">Update</a></td>
						</tr>
						{% endfor %}
						

					</table>				


</form>
</center>
{% include 'footer.html'%}